@model PhotoCommunity.Models.Image

@{
    ViewBag.Title = Resources.Resource.TitleDeletePhoto;
}

<h2>@ViewBag.Title</h2>

<h3>@Resources.Resource.DeletePhotoMessage</h3>
<div id="delete-photo-block">
    <div>
        <br />
        <div>
            <div id="name-div">
                <h4>@Model.Name (@Html.ActionLink(@Model.User.Name + " " + @Model.User.Surname, "user-" + Model.User.Id, "User"))</h4>
            </div>
            <div id="date-div">
                <span>@Model.Date</span>
            </div>
        </div>
        <div class="center-container">
            @Html.Raw("<img src=\"data:image/jpg;base64," + Convert.ToBase64String(Model.Img) + "\" />")
        </div>
    </div>

    <div id="actions">
        <button class="btn btn-default" onclick="document.getElementById('hidden-link').click();" >@Resources.Resource.BackLink</button>
        <a id="hidden-link" href="@Url.Action("Index","Photo")" hidden="hidden"></a>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="@Resources.Resource.DeleteSubmitButton" class="btn btn-default"/>
        }
    </div>
</div>
