@model PhotoCommunity.Models.AdminUsersListViewModel

@{
    ViewBag.Title = Resources.Resource.TitleDetails;
}

<h2>@ViewBag.Title</h2>

<div id="details-block">
    <hr />
    <dl class="dl-horizontal">

        <dt></dt>
        <dd>
            @Html.Raw("<img src=\"data:image/jpg;base64,"
+ Convert.ToBase64String(Model.Avatar) + "\" />")
        </dd>

        <dt>
            @Resources.Resource.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Resources.Resource.Surname
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Resources.Resource.About
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>

        <dt>
            @Resources.Resource.Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Resources.Resource.TitleConfrimEmail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            @Resources.Resource.Password-Hash
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>

        <dt>
            @Resources.Resource.Tel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<button class="btn btn-default" onclick="document.getElementById('hidden-link').click();">@Resources.Resource.BackLink</button>
<a id="hidden-link" href="@Url.Action("Index","Admin")" hidden="hidden"></a>
<button class="btn btn-default" onclick="document.getElementById('hidden-link1').click();">@Resources.Resource.EditLink</button>
<a id="hidden-link1" href="@Url.Action("Edit","Admin",new { id = Model.Id })" hidden="hidden"></a>
