@model PhotoCommunity.Models.ApplicationUser

@{
    Layout = null;
}

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        @if (User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink(Resources.Resource.MenuAdmin, "Index", "Admin")</li>
        }
    </ul>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            @if (User.Identity.IsAuthenticated)
            {
                <li id="drop-down" class="dropdown">
                    <a href="@Url.Action("user-" + User.Identity.GetUserId(),"User")" onmouseover="" class="dropdown-toggle" data-toggle="dropdown"
                       data-hover="dropdown" data-close-others="true">
                        @Model.Name
                        @Html.Raw("<img style='height:35px;width:35px;' src=\"data:image/jpeg;base64,"
                                 + Convert.ToBase64String(Model.Avatar) + "\" />")
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li>
                            @Html.ActionLink(Resources.Resource.MyProfile, "user-" + User.Identity.GetUserId(), "User")
                        </li>
                        <li>
                            @Html.ActionLink(Resources.Resource.EditProfile, "Edit", "User")
                        </li>
                        <li>
                            @Html.ActionLink(Resources.Resource.ChangePass, "ChangePassword", "User")
                        </li>
                        @if (User.IsInRole("User"))
                        {
                            <li>
                                @Html.ActionLink(Resources.Resource.AddPhoto, "Add", "Photo")
                            </li>
                        }
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Resource.MenuLogout</a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Resource.MenuRegister, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resources.Resource.MenuLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}