@model IEnumerable<PhotoCommunity.Models.Comment>

<h4>@Model.Count() @Resources.Resource.CommentCount</h4>
<ul>
    @foreach (var item in Model)
            {
        <li>
            <table width="100%">
                <colgroup>
                    <col width="90">
                    <col width="*">
                </colgroup>
                <tbody>
                    <tr>
                        <td>
                            <img width="75" height="75" src="data:image/jpg;base64,@Convert.ToBase64String(item.User.Avatar)" />
                        </td>
                        <td style="vertical-align:top;">
                            <div class="comment-title">
                                <a href="@Url.Action("user-"+item.User.Id,"User")">@item.User.Name @item.User.Surname</a>
                                <span class="date">@item.Date</span>
                            </div>
                            <div class="comment-content">
                                <span>
                                    @item.Text
                                </span>
                                @if (User.IsInRole("Admin"))
                                {
                                    using (Ajax.BeginForm("DeleteComment", "Admin", new AjaxOptions { UpdateTargetId = "results" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a class="material-icons" id="delete-link" onclick="document.getElementById('delete-button_@item.Id').click();">delete_forever</a>
                                                <div class="form-actions no-color">
                                                    <input type="hidden" value="@item.Id" name="commentId" />
                                                    <input type="submit" value="@Resources.Resource.DeleteSubmitButton" class="btn btn-default delete-button" id="delete-button_@item.Id" />
                                                </div>
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
    }
</ul>

